@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    border: 0;
    margin: 0;
   padding:0;
}
body {
    background-color: rgba(255, 255, 255, 0.863);
}

    header{
        padding: 32px;
        border-bottom: 10px solid rgba(19, 113, 12, 0.296);
        background-color: chartreuse;
    }

  headrer div a {
    color:white; /* a cor do texto */
    font-size: 20px; /* tamanho da fonte*/
    line-height: 30px; /* espaçamento da linha do texto */
    margin: 0 16px;  /* espaçamneto entre os textos */
    text-decoration: none; /* retirar decoração do texto */
}

header div{
    text-align: center; /* alinhamento no meio de header*/
}
header div a{
    color: white; /*cor do texto*/
    font-size: 20px; /* tamanho da fonte*/
    line-height: 30px; /* espaçamento da linha do texto*/
    margin: 0 16px; /*espaçamento entre os textos*/
    text-decoration: none; /*retirar decoração do texto*/
    font-family: 'Roboto' , sans-serif; /* a fonte escolhida pro menu */
    

}
header div a:hover{ /*seleção do modo quando o mouse passar por cima "hover*/
    color:red;
    transition: color 700ms; /* e fazer uma transição de cor que dura 700ms*/
}

#box {
      text-align: center;
      padding: 32px;
}
     
#box img {
   border-radius:50%;
   border: 5px solid;
   margin-bottom: 32px;
}
     
#box h1 {
   font-size: 42px;
   line-height: 52px;
   font-weight: normal;
}

#box h2 {
   font-size: 24px;
   line-height: 34px;
   font-weight: normal;
   margin-top: 8px;
   opacity: 0.8;
}

#box p {
   max-width: 500px;
   margin: 32px auto;
   font-size: 24px;
   line-height: 34px;
}

:root{ 
   --subcor:var(--subcor)
}

header {
  padding: 32px;
  border-bottom: 3px solid var(--subcor);
  background-color: currentColor;
}















































